/* Error: Expected identifier.
 *    ,
 * 33 |         @include .tof-3;
 *    |                  ^
 *    '
 *   scss\style.scss 33:18  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected identifier.\a    \2577 \a 33 \2502          @include .tof-3;\d\a    \2502                   ^\a    \2575 \a   scss\\style.scss 33:18  root stylesheet";
}
